<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>じゃんけんゲーム!</title>

</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>じゃんけんゲーム!</h1>


  <div th:if="${loginUser}">
    <p>Hi <span th:text="${loginUser}" style="font-weight: bold;"></span></p>
  </div>

  <p>エントリー</p>
  <ul>
    <li th:each="user:${users}">[[${user.userName}]]</li>
  </ul>


  <p>
    <a th:href="@{/jankengame(hand='Gu')}">ぐー</a>
    <a th:href="@{/jankengame(hand='Choki')}">ちょき</a>
    <a th:href="@{/jankengame(hand='Pa')}">ぱー</a>
  </p>

  <div th:if="${userHand}">
    <p>あなたの手 <span th:text="${userHand}" style="font-weight: bold;"></span></p>
    <p>相手の手 <span th:text="${cpuHand}" style="font-weight: bold;"></span></p>
    <p>結果 <span th:text="${result}" style="font-weight: bold;"></span></p>
    <p>試合回数: <span th:text="${totalGame}"></span></p>
    <p>勝ち: <span th:text="${countWin}"></span></p>
    <p>引き分け: <span th:text="${countDraw}"></span></p>
    <p>負け: <span th:text="${countLose}"></span></p>
  </div>

</body>

</html>
