<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Janken GAME!</title>
</head>

<body>
  <h1>Janken GAME!</h1>
  <div th:if="${sample}">
    <p>Hi <span th:text="${sample}"></span></p>
  </div>

  <p>
    <a th:href="@{/jankengame(hand='gu')}">ぐー</a>
    <a th:href="@{/jankengame(hand='choki')}">ちょき</a>
    <a th:href="@{/jankengame(hand='pa')}">ぱー</a>
  </p>

  <!--結果がある場合のみ表示-->
  <div th:if="${userHand}">
    <p>あなたの手 <span th:text="${userHand}"></span></p>
    <p>相手の手 <span th:text="${cpuHand}"></span></p>
    <p>結果 <span th:text="${result}"></span></p>
    <p>試合回数:<span th:text="${totalGame}"></span></p>
    <p>勝ち:<span th:text="${countWin}"></span></p>
    <p>引き分け:<span th:text="${countDraw}"></span></p>
    <p>負け:<span th:text="${countLose}"></span></p>
  </div>

</body>

</html>
