<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>Janken GAME!</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Janken GAME!</h1>

  <div th:if="${entry}">
    <p>エントリー</p>
    <ul>
      <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
        thが指定されているので[]が不要になる-->
      <li th:each="user : ${entry.users}">[[${user}]]</li>
    </ul>
  </div>

  <div th:if="${loginUser}">
    <p>Hi <span th:text="${loginUser}"></span></p>
  </div>

  <div th:if="${userSum}">
    <p>今<span th:text="${userSum}"></span>人がエントリーしています</p>
  </div>

  <p>
    <a th:href="@{/jankengame(hand='Gu')}">ぐー</a>
    <a th:href="@{/jankengame(hand='Choki')}">ちょき</a>
    <a th:href="@{/jankengame(hand='Pa')}">ぱー</a>
  </p>

  <!-- 結果がある場合のみ表示 -->
  <div th:if="${userHand}">
    <p>あなたの手 <span th:text="${userHand}"></span></p>
    <p>相手の手 <span th:text="${cpuHand}"></span></p>
    <p>結果 <span th:text="${result}"></span></p>
    <p>試合回数:<span th:text="${totalGame}"></span></p>
    <p>勝ち:<span th:text="${countWin}"></span></p>
    <p>引き分け:<span th:text="${countDraw}"></span></p>
    <p>負け:<span th:text="${countLose}"></span></p>
  </div>

</body>

</html>
